*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

nav {
    font-weight: 100vw;
    text-align: center;
    color: rgb(210, 18, 46);
    font-size: 40px;
    padding: 0 12px;
    font-family: 'Bungee', cursive;
}

nav ul {
    list-style-type: none;
}

.players{
    margin-top: 100px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    /* visibility: hidden; */
}

#player1, #player2{
    font-weight: bolder;
    justify-content: center;
    height: 40px;
    border: none;
    font-size: 20px;
    padding: 2px 10px;
    background-color: white;
    color: black;
    border: 2px solid rgb(210, 18, 46);
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
}

label{
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color:  rgb(210, 18, 46);
    font-family: 'Roboto', sans-serif;
}

.btn{
    display: flex;
    justify-content: center;
    text-align: center;
}

#start{
    text-align: center;
    justify-content: center;
    height: 50px;
    width:120px;
    font-size: 24px;
    letter-spacing: 2px;
    background-color: red;
    color: whitesmoke;
    border: 2px solid red;
    border-radius: 5px;
    font-weight: bold;
}

.score{
    padding-top: 5px;
    padding-bottom: 50px;
    text-align: center;
}

p,span{
    font-family: 'Bungee', cursive;
    font-size: 25px;
}

.winner{
    font-family: 'Bungee', cursive;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.winner-player{
    padding-bottom: 20px;
}

.play-again{
    padding: 10px;
    border: none;
    background-color: rgb(210, 18, 46);
    color: white;
    border-radius: 20px;
}

.new-game{
    padding: 10px;
    border: none;
    background-color: rgb(210, 18, 46);
    color: white;
    border-radius: 20px;
}

.space{
    padding-left: 50px;
}

.game{
    float: center;
    display: grid;
    font-size: 10vw;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
}

.cell{
    color: black;
    border: 8px solid rgb(210, 18, 46);
    font-family: 'Roboto', sans-serif;
    font-size: 8vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oxygen', sans-serif
}

.cell:hover{
    background-color: rgba(210, 18, 46,0.2);
}

.gameContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content{
    visibility: hidden;
}